@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: RalewayItalics;
    src: url(../fonts/Raleway-BoldItalic.ttf);
}

nav{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        padding: 20px 5% !important;
        font-size: 20px;
        
}
section{
    padding: 30px 10%;
}
.row{
    border-radius: 10px;
    margin-right: 0;
}
.devo-div{
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    padding: 0 0 80px 0;
}
.devo-div h5{
    font-family: Raleway;
}
.devo-img-div{
    /* object-fit: contain; */
    /* max-width: fit-content; */
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
    background: url(../images/nations.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 262px;
}
.fwrd-img{
    height: 16px;
    width: 20px;
}
.ask-p{
font-family: RalewayItalics;
    font-weight: 800;
    font-size: 14px;
    line-height: 179.4%;
    text-align: center;
    padding: 0 8%;
} 
.ask-hr{
        width: 50%;
            margin-bottom: 30px;
        border: 1px solid #9D6A06;
}
.text{
    padding: 40px;
    text-align: left;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 13px;
    line-height: 179.4%;
    color: #161616;
}
.red-text{
    color: #9D6A06;
    font-weight: 600;
}
.red-text-b{
    color: #9D6A06;
    font-weight: 700;
}
.h-inline{
    display: inline;
}
.logo{
    width: 22px;
    height: 22px;
}

.sub-div{
    background: url(../images/sub-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.06);
    border-radius: 23px;
    margin-left: 60px;
}
.articles-div{
    margin-left: 60px;
    margin-top: 100px;
    background: #FDFDFD;
    box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.06);
    border-radius: 23px;
    padding: 40px;
    font-family: Raleway;
    
}
.reload-img{
    float: right;
}
.articles{
    display: flex;
    flex-direction: column;
}
.article{
    display: flex;
    margin-top: 40px;
    align-items: center;
}
.art-img{
    border-radius: 23px;
    margin-right: 10px;
}
.read-more{
    color: #F43E3E;
}