@font-face {
    font-family: Raleway;
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: RalewayItalics;
    src: url(../fonts/Raleway-BoldItalic.ttf);
}
body {
    margin: 0;
    padding: 0;
}
nav{
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        padding: 20px 2% !important;
        font-size: 20px;
        /* display: flex !important; */
}
.aux-logo{
    object-fit: contain;
    width: 121px;
    height: 56px;
    margin: auto;
}
#toggleBtn{
    float: right;
    margin: 0 ;
}
section{
    padding: 0 2% 10% 0;
    
}
.main{
    display: flex;
    /* flex-wrap: wrap; */
}
.sidebar{
    box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.06);
    /* width: 150px; */
    height: 500px;
    border-radius: 23px;
    position: sticky;
    top: 80px;
    transition: ease-in-out;
}
.sidebar-icon-div{
    padding:50px 30px;
}
.sidebar-icon-div img{
    display: inline;
}
.icon-border{
    border-top: 2px solid #C7C7C7;
    border-bottom: 2px solid #C7C7C7;
    width: 100px;
}
.row{
    border-radius: 10px;
    margin-right: 0;
}
.devo-outer{
    margin: auto 10%;
    /* margin-left: 20px !important; */
    margin-top: 50px;
    
}
.devo-inner{
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    padding: 0 0 80px 0;
}
.devo-div h5{
    font-family: Raleway;
}
.image_url{
    
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 262px;
}
.fwrd-img{
    height: 16px;
    width: 20px;
}
#day{
    text-transform: uppercase;
    font-weight: 500;
}
.ask-p{
font-family: RalewayItalics;
    font-weight: 800;
    font-size: 14px;
    line-height: 179.4%;
    text-align: center;
    padding: 0 8%;
} 
.ask-hr{
        width: 50%;
            margin-bottom: 30px;
        border: 1px solid #9D6A06;
}
.text{
    padding: 40px;
    text-align: left;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 13px;
    line-height: 179.4%;
    color: #161616;
}
#prayer{
    font-weight: bold;
}
#teaching-text {
    color: #303964;
    font-weight: 600;
    transition: ease-in-out 0.5s;
}
#teaching-text:hover{
    text-decoration: none;
}
.red-text{
    color: #9D6A06;
    font-weight: 600;
}
.red-text-b{
    color: #9D6A06;
    font-weight: 700;
}
.h-inline{
    display: inline;
}
.logo{
    width: 22px;
    height: 22px;
}

.sub-div{
    background: url(../images/sub-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.06);
    border-radius: 23px;
    margin-left: 60px;
}
.articles-div{
    margin-left: 25px;
    margin-top: 100px;
    background: #FDFDFD;
    box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.06);
    border-radius: 23px;
    padding: 40px;
    font-family: Raleway;
    
}
.reload-img{
    float: right;
}
.articles{
    display: flex;
    flex-direction: column;
}
.article{
    display: flex;
    margin-top: 40px;
    align-items: center;
}
.article-list{
    height: 800px;
    overflow-y: scroll;
}
.article-list::-webkit-scrollbar {
    width: 8px;
}

.article-list::-webkit-scrollbar-thumb {
    background: #20a829;
    border-radius: 5px;
}
.dev-title{
    margin-bottom: 5px;
}
.dev-date{
    font-size: 12px;
}
.readnow{
    cursor: pointer;
    color: #F43E3E;
}
.art-img{
    border-radius: 23px;
    margin-right: 10px;
    width: 200px;
    height: 150px;
    /* object-fit: contain; */
}
.article a{
    color: green;
}
#thumbnail{
    height: 120px;
    width: 150px;
    border-radius: 15px;
    margin-right: 10px;
    object-fit: fill;
}
.hamburger {
    position: relative;
    z-index: 999;
    display: block;
    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
    outline: none;
}

.hamburger.is-closed:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-closed .hamb-top {
    top: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
    bottom: 5px;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
    top: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
    bottom: 0;
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    background-color: #1a1a1a;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
    top: 50%;
    margin-top: -2px;
}

.hamburger.is-open .hamb-top {
    -webkit-transform: rotate(45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}

.hamburger.is-open .hamb-middle {
    display: none;
}

.hamburger.is-open .hamb-bottom {
    -webkit-transform: rotate(-45deg);
    -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
}
.hamburger.is-open:before {
    content: '';
    display: block;
    width: 100px;
    font-size: 14px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
    opacity: 1;
    display: block;
    -webkit-transform: translate3d(-100px, 0, 0);
    -webkit-transition: all .35s ease-in-out;
}
@media (max-width:1400px) {
    section{
        padding-right: 0;
    }
    .article-text p{
        font-size: 15px;
    }
}
@media (max-width:1200px) {
    .sub-div, .articles-div{
        margin-left: 0;
        width: 70%;
    }
    .sub-div{
        margin-top: 100px;
    }
    .aside-div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .devo-div{
        padding: 0 10%;
    }
}
@media (max-width:750px){
    nav{
        padding: 20px 6% !important;
    }
    .main{
        display: block;
    }
    .devo-img-div{
        height: 200px;
    }
    .devo-div{
        padding: 0 5%;
    }
    .sidebar{
        position: fixed;
        z-index: 3;
        background: white;
        display: none;
    }
    .sub-div, .articles-div{
        width: 90%;
    }
}
@media (max-width:550px) {
    .devo-outer{
        margin: 0 ;
        margin-top: 50px;
    }
    .devo-div h3{
        font-size: 20px;
    }
    .devo-img-div + p{
        font-size: 15px;
    }
    .article{
        display: block;
    }
    .article-text{
        margin-top: 20px;
    }
    h5{
        font-size: 15px;
    }
    .red-text, .red-text-b{
        font-size: 13px;
    }
}